BOT_TOKEN=your_discord_bot_token
BOT_PREFIX=!
DEFAULT_GUILD_ID=your_guild_id
AUTO_JOIN_VOICE_CHANNEL_ID=your_voice_channel_id
VOICE_TEXT_CHANNEL_ID=your_text_channel_id
OWNER_IDS=your_discord_user_id
EMBED_COLOR=0x2B2D31
LAVALINK_HOST=nodelink.railway.internal
LAVALINK_PORT=2333
LAVALINK_PASSWORD=change_this_password
LAVALINK_SECURE=false
DEFAULT_VOLUME=35
MAX_QUEUE_LENGTH=200
SEARCH_SOURCE=ytsearch

NODELINK_SERVER_HOST=0.0.0.0
NODELINK_SERVER_PORT=2333
NODELINK_SERVER_PASSWORD=change_this_password
NODELINK_YOUTUBE_TV_REFRESH_TOKEN=your_google_tv_refresh_token
